@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

header {
    background-color: #858585;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
    width: 100%
}



body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    text-align: justify;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px 20px 20px 30px;
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative; 
    top: 170px;
    
}

.sidebar {
    width: 25%;
    float: left;
    background-color: #ddd;
    padding: 20px 15px;
    margin-right: 20px;
    border-radius: 10px;

}

.sidebar a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 6px;
    margin: 5px 0;
    border-radius: 5px;
}

.list {
    list-style: none;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
    color: #222;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.image-container img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
/*
a {
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    pointer-events: auto;
}


a:hover {
    color: rgb(0, 174, 255) !important;
    text-decoration: underline;
}
*/

ul {
    list-style-type: square;
    padding-left: 40px;
    color: #555;
}



ol {
    list-style-type: decimal;
    padding-left: 40px;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #ddd;
    font-weight: bold;
    text-transform: uppercase;
}

.highlight {
    color: red;
    font-weight: bold;
    background-color: yellow;
}

ul > li {
    font-style: italic;
    padding: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

ul > li:hover {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #a5a5a5;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}
 
a:active {
    color: rgb(171, 244, 2); 
} 

a:link {
    color: rgb(255, 0, 128);
    text-decoration: none;
}

a:visited {
    color: purple;
}

h1::before {
    content: "♥ ";  
    color: black;
}

h1::after {
    content: " ♥";  
    color: black;
}

ul li:first-child {
    text-decoration: line-through; 
}
